.SearchEntity {
  padding-block: 35px;
  padding-inline: 70px;
}

.SearchEntity > * {
  margin-bottom: 20px;
}

.SearchEntity-form {
  display: flex;
}

.SearchEntity-form > :first-child {
  flex: 1;
  margin-inline-end: 15px;
}
